<head>
	<link href="style.css"
rel="Stylesheet" type="text/css" />
</head>

h2{color:#1A1536; background-color: 000000; font-size:32px; text-align:center; letter-spacing:0px; 

}

p{
	color:#050301; background-color:#EBA400; font-size:12px; text-align:left; letter-spacing:0px; 
}

a:hover{
	color:#42270C; background-color:#EBA400; font-size:12px; text-align:left; letter-spacing:0px;
}